/* clear margin and padding for <html> and <body> */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-image: url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg');
    background-repeat: repeat;
    padding-bottom: 20px;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Century Gothic', 'Futura', 'Verdana', sans-serif;
    text-decoration: underline;
    font-weight: normal;
    text-align: left;
}

.heading {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

/* link */
a {
    color: #A4A400;
}

/* quote */
blockquote {
    padding: 1em 1.5em 1em 1.5em;
    border-left: 1em solid #A4A400;
    position: relative;
    font-style: italic;
    font-family: Georgia, Garamond, serif;
    background-color: #FFFFC8;
}

/* list */
ul li {
    list-style-image: url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif') !important;
}

ol li {
    list-style-image: none;
}

/* text styles */
p {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

.digit {
    font-size: 20pt;
}

.right {
    text-align: right;
}

.indent {
    position: relative;
    left: 1em;
}

/* table */
table {
    text-align: left;
}

/* grid and container layout */
@media screen and (max-width: 1060px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1060px) and (max-width: 1200px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media screen and (max-width: 760px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 760px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

hr {
    border: 1px dashed lightgray;
}

/* collapsable blocks */
.collapsed {
    display: none;
}

.toggler {
    cursor: pointer;
}

.toggler-collapsed:before {
    content: '＋';
    font-weight: bold;
}

.toggler-collapsed:after {
    content: ' ...';
}

.toggler-expanded:before {
    content: '－';
    font-weight: bold;
}
