<!DOCTYPE html>
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="/fomantic/semantic.min.css")
        link(rel="stylesheet", href="/css/style.css")
        title 错误
    body

    div(class="ui container" style="padding-top: 3em;")
        h1 发生错误
        p
            span(class="ui red text") 您还没有登录