<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title User Portal
    body
        p Sign In
        form(action="/signin" method="post")
            div
                label(for="username") 用户名
                input#username(type="text" name="username" value=username)
                div #{username_error}
            div
                label(for="password") 密码
                input#password(type="text" name="password")
                div #{password_error}
            button(type="submit") submit