<!DOCTYPE html>
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="/fomantic/semantic.min.css")
        link(rel="stylesheet", href="/css/style.css")
        title 用户详情
    body

    div(class="ui middle aligned center aligned grid")
        div(class="column")
            h1(class="ui primary header") 用户详情
            div(class="ui segment")
                div(class="ui relexed divided list")
                    div(class="item")
                        i(class="large user middle aligned icon")
                        div(class="content")
                            a(class="header") 用户
                            div(class="description") #{username}
                    div(class="item")
                        i(class="large address card middle aligned icon")
                        div(class="content")
                            a(class="header") 学号
                            div(class="description") #{number}
                    div(class="item")
                        i(class="large phone middle aligned icon")
                        div(class="content")
                            a(class="header") 电话
                            div(class="description") #{phone}
                    div(class="item")
                        i(class="large envelope middle aligned icon")
                        div(class="content")
                            a(class="header") 邮箱
                            div(class="description") #{email}
            div
                form(action="/signout", method="post")
                    button(type="submit", class="ui button") 退出
