/*
  Author: Steven He
  School: Sun Yat-sen University
  Student Number: 17364025
  Date: 12/19/2019
*/
html,
body {
  height: 95%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#at-plus-container {
  font-family: Sans-serif;
  font-weight: bold;
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

#bottom-positioner {
  left: 0;
  right: 0;
  bottom: 100px;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
}

#bottom-positioner:hover {
  bottom: 0;
  height: 310px;
  width: 180px;
}

#button {
  position: absolute;
  width: 40px;
  height: 40px;
}

#bottom-positioner:hover #button {
  bottom: 100px;
  left: 70px;
}

#info-bar {
  background-color: #7e7e80;
  border-radius: 50%;
  bottom: -35px;
  height: 140px;
  left: -50px;
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  width: 140px;
}

#info-bar[valid] {
  background-color: rgba(50, 60, 150, 1);
}

#bottom-positioner:hover #info-bar {
  bottom: 60px;
  opacity: 1;
  transform: scale(1);
}

.sum {
  position: absolute;
  left: 40px;
  top: 50px;
  margin: 0 auto;
}

.sum span {
  color: #59c193;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  opacity: 1;
  transition: ease-out 0.5s;
}

.order {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: 0 auto;
}

.order span {
  color: white;
  display: inline-block;
  opacity: 1;
  transition: ease-out 0.5s;
}

#control-ring li {
  background-color: rgba(50, 60, 150, 1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  bottom: 2.5px;
  height: 25px;
  left: 2.5px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  transition: ease-out 0.5s;
  width: 25px;
}

#control-ring[calculating] li {
  background-color: #7e7e80;
}

#control-ring[calculating] li[calculating] {
  background-color: rgba(50, 60, 150, 1);
}

#control-ring li[calculated] {
  background-color: #7e7e80;
}

#control-ring li .text {
  color: #59C193;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

#control-ring li .unread {
  display: none;
}

#control-ring li[value] .unread {
  display: inherit;
}

#bottom-positioner:hover #control-ring li:nth-child(1) {
  left: -57px;
  bottom: 40px;
}

#bottom-positioner:hover #control-ring li:nth-child(2) {
  left: -68px;
  bottom: 0px;
}

#bottom-positioner:hover #control-ring li:nth-child(3) {
  left: -57px;
  bottom: -41px;
}

#bottom-positioner:hover #control-ring li:nth-child(4) {
  left: -20px;
  bottom: -65px;
}

#bottom-positioner:hover #control-ring li:nth-child(5) {
  left: 25px;
  bottom: -62px;
}

#bottom-positioner:hover #control-ring li {
  opacity: 1;
}

.unread {
  background-color: red;
  border-radius: 50%;
  left: 24px;
  bottom: 20px;
  height: 20px;
  width: 20px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  position: absolute;
  transition: ease-out 0.5s;
}

.apb {
  background-color: #7171c6;
  background-image: url(/assets/images/atplus_white.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  opacity: 0.5;
  padding: 5px;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

#bottom-positioner:hover .apb {
  background-image: url(/assets/images/atplus_green.png);
  background-size: 66%;
  background-color: rgba(48, 63, 159, 1);
  transform: scale(1.5);
  opacity: 1;
}

.center {
  margin: 0 auto;
  width: 100%;
  float: left;
}

.center div {
  text-align: center;;
}